@using EliteWebTechAssignment.Domain.Models
@model IEnumerable<StudentEntityModel>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Students List
            </h2>
        </div>
        <form method="get" asp-action="Index" class="input-group mb-3" style="align-content:space-around; width:auto">
        <input type="search" placeholder="Enter Info" class="form-control" style="width:auto" name="searchString" />
        <button type="submit" class="btn btn-primary" style="background-color:#3684a8;color:white;"><i class="fa fa-search"></i> Search</button>
        </form>
        <div class="col-12 text-right">
            <a asp-controller="Home" asp-action="CreateStudent" class="btn btn-primary">Add Student</a>
            <a asp-controller="Home" asp-action="CreateProgramme" class="btn btn-primary">Add Programme</a>
            <a asp-controller="Home" asp-action="UpdateStudent" class="btn btn-primary">Update Student</a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Student Id
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var student in Model)
                {
                    <tr>
                        <td width="30%">@student.studentId</td>
                        <td width="30%">@student.studentName</td>
                        <td width="30%">
                            <div class="btn-group w-100" role="group">
                                <a asp-action="AddStudentMarks" asp-route-studentId="@student.studentId" class="btn btn-primary mx-1">Add Marks</a>
                                <a asp-action="DisplayStudentMarks" asp-route-studentId="@student.studentId" class="btn btn-primary mx-1">Display Marks</a>    
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No students yet!</p>
    }
</div>